@font-face {
    font-family: KonstantGrotesk;
    src: url(../assets/fonts/KonstantGrotesk.otf);
  }
  
  @font-face {
    font-family: NeueMontreal;
    src: url(../assets/fonts/NeueMontreal-Light.otf);
  }
  
  @font-face {
    font-family: NeueMontreal-Bold;
    src: url(../assets/fonts/NeueMontreal-Bold.otf);
  }

    $black: #0D0D0D;
    $black2: #111111;
    $black3: #191C1E;
    $white2: #D9D5CF; //Footer Text, Lines, Ticker Tape Banner
    $white: #EBE9E7; //Header, Body Text
  
  html, body{
    width: 100%;
  }
  
  body{
    font-family: NeueMontreal, sans-serif;
    background: url(../assets/img/WebsiteBackground.png);
    position: relative;
    overflow-x: hidden;
    color: $white;
  }
  
  .container{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .container-inner{
    padding:0 5rem ;
  }
  
  .box-container{
    width: 1000px;
  }

  .fit-content{
      max-height: fit-content !important;
  }
  
  .pad-0{
    padding: 0 !important;
  }
  
  .pad-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .pad-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .pad-t1{
    padding-top: 1rem;
  }
  
  .pad-t2{
    padding-top: 2rem;
  }
  
  .pad-b1{
    padding-bottom: 1rem;
  }
  
  .pad-b2{
    padding-bottom: 2rem;
  }
  
  .pad-b5{
    padding-bottom: 5rem;
  }
  
  .border-tb{
    border-top: 1px solid $white2;
    border-bottom: 1px solid $white2;
  }
  
  
  .border-t{
    border-top: 1px solid $white2;
  }
  
  .border-b{
    border-bottom: 1px solid $white2;
  }
  
  .relative{
    position: relative;
  }
  
  h1, h2, h3, h4, h5, h6, .banner span{
    font-family: KonstantGrotesk, sans-serif;
    font-weight: normal;
  }
  
  h1, h2{
    font-size: 50px;
    padding-bottom: 2rem;
  }
  
  h1.XL{
    font-size: 72px;
  }
  
  h2.grid{
    font-family: NeueMontreal, sans-serif;
    font-size: 35px;
    padding-bottom: 1rem;
  }
  
  h3{
    font-size: 25px;
    padding-bottom: 2rem;
  }
  h4{
    font-size: 18px;
  }

  .filter h4{
      font-size: 16px;
  }
  
  h5{
    font-size: 16px;
    line-height: 1.2em;
  }
  h6{
    font-size: 20px;
  }
  
  h6.XL{
    font-size: 40px;
    letter-spacing: 2px;
  }
  
  p, li{
    font-size: 22px;
    &.sm{
      font-size: 18px;
    }
  }
  
  a{
    text-decoration: none;
    color: $white;
    letter-spacing: 2px;
  }
  
  nav a, footer a{
    font-size: 16px;
  }
  
  button{
    border: none;
  }
  
  .btn{
    font-family: KonstantGrotesk, sans-serif;
    color: $white;
    width: 350px;
    padding: 0.5rem 0 0.4rem;
    border-radius: 28px;
    background: transparent;
    border: 2px solid $white;
    letter-spacing: 2px;
    background: url(../assets/img/ButtonBackground.png) no-repeat 0 50%;
    &:hover{
      color: $black3;
      background: $white2;
    }
  }

  .btn-filter{
    width: 280px;
    background: transparent;
    &:hover{
      color: $white;
      background: url(../assets/img/ButtonBackground.png) no-repeat 0 50%;
    }
  }
  
  .cta-btn button{
      margin: 0 1rem;
  }
  
  section{
    padding: 8rem 0;
  }

  .visible{
      display: block !important;
  }

  .overflow-0{
      overflow: hidden;
  }