*{
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

$black: #0D0D0D;
$black2: #111111;
$black3: #191C1E;
$white2: #D9D5CF; //Footer Text, Lines, Ticker Tape Banner
$white: #EBE9E7; //Header, Body Text

@font-face {
  font-family: KonstantGrotesk;
  src: url(../assets/fonts/KonstantGrotesk.otf);
}

@font-face {
  font-family: NeueMontreal;
  src: url(../assets/fonts/NeueMontreal-Light.otf);
}

@font-face {
  font-family: NeueMontreal-Bold;
  src: url(../assets/fonts/NeueMontreal-Bold.otf);
}

html, body{
  width: 100%;
}

body{
  font-family: NeueMontreal, sans-serif;
  background: url(../assets/img/WebsiteBackground.png);
  position: relative;
  overflow-x: hidden;
  color: $white;
}

.container{
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-inner{
  padding:0 5rem ;
}

.box-container{
  width: 1000px;
}

.pad-0{
  padding: 0 !important;
}

.pad-1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad-2{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-t1{
  padding-top: 1rem;
}

.pad-t2{
  padding-top: 2rem;
}


.pad-b1{
  padding-bottom: 1rem;
}

.pad-b2{
  padding-bottom: 2rem;
}

.pad-b5{
  padding-bottom: 5rem;
}

.border-tb{
  border-top: 1px solid $white2;
  border-bottom: 1px solid $white2;
}

.border-t{
  border-top: 1px solid $white2;
}

.border-b{
  border-bottom: 1px solid $white2;
}

.relative{
  position: relative;
}

h1, h2, h3, h4, h5, h6, .banner span{
  font-family: KonstantGrotesk, sans-serif;
  font-weight: normal;
}

h1, h2{
  font-size: 50px;
  padding-bottom: 2rem;
}

h2.grid{
  font-family: NeueMontreal, sans-serif;
  font-size: 35px;
  padding-bottom: 1rem;
}

h3{
  font-size: 25px;
  padding-bottom: 2rem;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 16px;
  line-height: 1.2em;
}
h6{
  font-size: 20px;
}

p, li{
  font-size: 22px;
  &.sm{
    font-size: 18px;
  }
}

a{
  text-decoration: none;
  color: $white;
  letter-spacing: 2px;
}

nav a, footer a{
  font-size: 16px;
}

button{
  border: none;
}

.btn{
  font-family: KonstantGrotesk, sans-serif;
  color: $white;
  width: 350px;
  padding: 0.5rem 0 0.4rem;
  border-radius: 28px;
  background: transparent;
  border: 2px solid $white;
  letter-spacing: 2px;
  background: url(../assets/img/ButtonBackground.png) no-repeat 0 50%;
  &:hover{
    color: $black3;
    background: $white2;
  }
}

.cta-btn button{
    margin: 0 1rem;
}

section{
  padding:5rem 0;

}

nav{
  position: absolute;
  background-color: rgba(25, 28, 30, 0.6);
  width: 100%;
  top: -4.5rem;
  left: 0;
  border-bottom: 1px solid $white2;
  z-index: 100;
  animation-name: menu-down;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-logo img{
  width: 166px;
}
.nav-items ul li{
    display: inline;
    margin: 0 1rem;
}
.nav-contact{
  width: 166px;
  text-align: right;
}

.landing{
  &.home, &.studio{
    height: 100vh;
    overflow-y: hidden;
  }
}

.background-landing{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
.video-container{
  position: relative;
  height: 100vh;
  video{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    object-position: top;
  }
}

.services-cta{
  position: relative;
}
.banner-container, .project-banner{
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
  border-top: 1px solid $white2;
  border-bottom: 1px solid $white2;
}

.banner, .banner-title{
  position: relative;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  span{
    text-transform: uppercase;
    margin: 0 0.8vw 0 0;
    display: inline;
    white-space: nowrap;
  }
}

.banner{
  animation-name: banner-anim;
  animation-duration: 20s;
  span{
    font-size: 1.3vw;
    letter-spacing: 6px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white2;
  }
}

.banner-title{
  animation-name: banner-anim-proj;
  animation-duration: 20s;
  span{
    font-size: 22px;
    letter-spacing: 2px;
    color: $white;
  }
}

.center-content{
  text-align: center;
  h2{
    width: 1300px;
    margin: auto;
    line-height: 1.2em;
    }
    p{
      width: 840px;
      margin: auto;
      padding-bottom: 2rem;
    }
}

.box-container{
  width: 1500px;
  margin: auto;
  position: relative;
  padding-bottom: 5rem;
  &.alt{
    padding-bottom: 0;
  }
  &.dual{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    .proj2, .proj3{
      width: 45%;
    }
  }
}

.home-project{
  width: 100%;
  display: flex;
  flex-direction: column;
  img{
    filter: grayscale(100%);
    transition: filter 0.2s;
  }
  &.proj1{
    margin-left: auto;
    align-items: flex-end;
    img, .project-banner{
      width: 60%;
    }
  }
  &.proj2{
    align-items: flex-start;
    img, .project-banner{
      width: 100%;
    }
  }
  &.proj3{
    margin-left: auto;
    align-items: flex-end;
    padding-top: 250px;
    img, .project-banner{
      width: 100%;
    }
  }
  &.proj4{
    align-items: center;
    img, .project-banner{
      width: 60%;
    }
  }
}
.project-banner{  //line 146
  border-top: none;
  transition: background-image 0.2s;
}

.banner-title{ //Extra Line 218
  animation: none;
  .banner-text{
    display: none;
  }
}

.studio .video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.bg-landing-text{
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:10vh;
  height: 90vh;

}
.studio-bg-name{
  font-family: KonstantGrotesk;
  font-size: 245px;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $white2;
  letter-spacing: 1rem;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  line-height: 1em;
}

.studio-bg-slogan{
  position: absolute;
  max-width: 1300px;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.section-title, .accordion-subtitle{
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $white2;
}

.section-title{
  padding-bottom: 2rem;;
}

.section-quote{
  line-height: 1.2em;
}

.studio-commitment .section-content{
  display: flex;
  flex-direction: row;
  h1{
    width: 875px;
  }
  p{
    width: 650px;
  }
  .paragraphs{
    margin-right: 0;
    margin-left: auto;
  }
}

.studio-services{
  position: relative;
  width: 70vw;
  margin-left: auto;
}

.graphic1, .graphic2{
  position: absolute;
  left: -6rem;
  width: 350px;
}

.graphic1{
  top: 5rem;
}

.graphic2{
  bottom: 0;
}

#clients h1{
    width: 1100px;
}

.client-table{
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  color: $white2;
}
.grid-element{
  width: 50%;
  align-items: stretch;
  border-right: 1px solid $white2;
  padding-right: 2rem;
  &.alt{
    border-right: none;
    padding-right: 0;
    padding-left: 2rem;
  }
}


//_____________________________ACCORDION___________________

.accordion {
  color: $white;
  background: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion{
  font-size: 45px;
  font-family: NeueMontreal;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  p, li{
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 1px;
    padding-bottom: 1rem;
  }
  ul{
    padding-left: 1rem;
  }
}
.accordion:after {
  content: '\1F865'; /* Unicode character for "arrow up" sign (🡥) */
  font-size: 45px;
  color: $white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\1F866"; /* Unicode character for "arrow down" sign (🡦) */
}

.accordion-subtitle{
  font-family: KonstantGrotesk;
}

.split-panel{
  &.alt{
    margin-left: auto;
  }
}

.split-panel{
  width: 650px;
  &.alt{
    width: 450px;
  }
}

.list-table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordion-subtitle{
  padding-bottom: 0.5rem;
}

.btn-full {
    width: 100%;
    padding: 0.5rem 0;
    text-align: left;
    font-size: 18px;
    font-family: NeueMontreal;
    color: $white;
    background: url(../assets/img/ButtonBackground.png) no-repeat;

}

//_____________________________FOOTER______________________

.instagram{
  text-align: center;
  position: relative;
  padding: 2rem 1rem;
}

.insta-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img{
    width: 18.5vw;
    filter: grayscale(100%);
    transition: filter 0.2s;
    &:hover{
      filter: grayscale(0%);
    }
  }
}

footer{
  .footer-tel{
    margin-bottom: 0.6rem;
  }
  .footer-tel, .footer-email{
    margin-top: 0.3rem;
  }
}

.footer-content{
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $white2;
  border-bottom: 1px solid $white2;
}

.footer-logo{
  width: 180px;
}

.footer-slogan{
  width: 430px;
  padding: 0 6vw;
  line-height: 1.2em;
}

.footer-menu{
  font-size: 18px;
  display: flex;
  margin-left: auto;
  text-align: right;
  ul{
    list-style-type: none;
    color: $white2;
    line-height: 1.3em;
    a:hover{
      font-weight: bold;
    }
  }
}

.socialmedia-menu{
  margin-left: 5vw;
}

.footer-extra{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span{
    font-size: 12px;
    color: $white2;
    letter-spacing: 1px;
  }
}
footer, .instagram{
  background: $black;
}


//___________________HOME PROJECT CARD HOVER FUNCTIONS______________________

.hover{
  img{
      filter: grayscale(0%);
  }
  .project-banner{
      background-image: url(../assets/img/ButtonBackground.png);
  }
  .banner-title{
      animation: banner-anim-proj 10s infinite linear normal;
  }
  .banner-title .banner-text{
    display: block !important;
  }
  .banner-title .project-title{
    display: none !important
  }
}

//________________________________________________________________






//_________________Keyframes Animation________________

@keyframes menu-down {
  from {top: -4rem;}
  to {top: 0;}
}
@keyframes banner-anim{
  0% {right: 0;}
  100% {right: 123.5rem;}
}

@keyframes banner-anim-proj{
  0% {right: 0;}
  100% {right: 60rem;}
}

@keyframes fade-in{
  from {opacity: 0;}
  to {opacity: 100%}
}
